@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', 'Montserrat';
    transition: all 0.2s ease;
}

:root {
    --bg: #f1f1fd;
    --primary: #5252aa;
    --bgCard: #f0f0ff;
    --borderCard: #4d4d63;
    --bgInput: #efefff;
    --borderInput: #4d4d63;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: var(--bg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-card {
    background: linear-gradient(145deg, var(--bgCard), #e7e7ff);
    width: 100%;
    max-width: 600px;
    padding: 35px;
    border-radius: 18px;
    border: 1px solid var(--borderCard);
}

.form-card h2 {
    margin-bottom: 25px;
    color: var(--primary);
    font-size: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-qtd {
    margin-bottom: 18px;
    display: flex;

}

.titulo-qtd {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.qtd {
    display: flex;
    flex-wrap: wrap;
}

label {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #777;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    background: var(--card);
    padding: 0 5px;
}

input, select, textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--borderInput);
    background: var(--bgInput);
    color: #fff;
    font-size: 14px;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #777;
}

input:focus, 
select:focus, 
textarea:focus {
    border-color: var(--primary);
    box-shadow: 0 0 8px var(--primary);
}

input:focus + label,
input:valid + label {
    top: -8px;
    font-size: 12px;
}
    

textarea {
    resize: none;
    height: 100px;
}

select {
    background: #1a1a1d;
    color: #fff;

    padding: 12px;
    border-radius: 10px;
    border: 1px solid #2f2f37;

    appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='%23eeb333' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.row {
    display: flex;
    gap: 15px;
}

.row .form-group {
    flex: 1;
}

.qtd-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.qtd-grid div {
    display: flex;
    flex-direction: column;
}

.qtd-grid span {
    font-size: 12px;
    color: var(--primary);
    /* font-weight: 600; */
    margin-bottom: 5px;
}

.qtd-grid input {
    width: 100%;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    transition: 0.2s ease-in;
    transform: scale(1.05);
    filter: brightness(110%);
}
