@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryCard: #f6faff;
    --navy-l: #0a0a8a;
    --orange: #5252aa;
    --orange-hover: #6666bb;
    --orange-d: #5252aa;
    --btnVisualizar: #ffd900;
    --btnEditar: #ff7b00;
    --btnExcluir: #ff3f39;
    --bg: #f1f1fd;
    --bgCard: #f0f0ff;
    --text: #5252aa;
    --text-m: #777;
    --text-l: #9090a8;
    --btnText: #efefff;
    --border: #5252aa;
    --shadow: 0 2px 16px rgba(2, 2, 74, .08);
    --shadow-l: 0 8px 32px rgba(2, 2, 74, .14);
    --radius: 12px;
    --radius-s: 8px;
    --transition: .22s cubic-bezier(.4, 0, .2, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', 'Montserrat';
    background: var(--bg);
    color: var(--text);
}

.container-pagina {
    max-width: 1700px;
    margin: 0 auto;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.tabela-header h1 {
    font-size: 1.6rem;
    color: var(--text);
}

.btn-add-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-add {
    text-decoration: none;
    color: var(--btnText);
    border: none;
    border-radius: 6px;
    padding: 10px;
    background: var(--orange-d);
    cursor: pointer;
}

.btn-add:hover {
    transform: scale(1.02);
    background-color: var(--orange-hover);
}

.tabela-wrapper {
    background: var(--bgCard);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    max-height: 65vh;
    min-height: 65vh;
    width: 1200px;
    overflow-y: auto;
    overflow-x: auto;
}

.tabela-wrapper::-webkit-scrollbar {
    width: 8px;
}

.tabela-wrapper::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
}

.tabela-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: .9rem;
}

.tabela thead {
    background: var(--primaryCard);
    position: sticky;
    top: 0;
    z-index: 10;
}

.tabela thead th {
    padding: 16px 18px;
    text-align: left;
    color: var(--orange);
    font-family: 'Work Sans', 'Montserrat';
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .06em;
    white-space: nowrap;
}

.tabela tbody tr {
    transition: var(--transition);
}

.tabela tbody tr:hover {
    background: var();
}

.tabela tbody td {
    padding: 14px 18px;
}

.td-nome a {
    color: var(--text);
    font-weight: 500;
    transition: var(--transition);
}

.td-nome a:hover {
    color: var(--orange);
}

.td-acao {
    text-align: left;
    white-space: nowrap;
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    align-items: center;
}

.btn-acao {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-s);
    border: 1.5px solid var(--border);
    background: none;
    cursor: pointer;
    font-size: .9rem;
    transition: var(--transition);
    color: var(--text-m);
}

.btn-ver:hover {
    border-color: var(--btnVisualizar);
    color: var(--btnVisualizar);
}

.btn-edit:hover {
    border-color: var(--btnEditar);
    color: var(--btnEditar);
}

.btn-del:hover {
    border-color: var(--btnExcluir);
    color: var(--btnExcluir);
}

.tabela tfoot tr.rodape-tabela {
    background: var(--primaryCard);
}

.tabela tfoot td {
    padding: 16px 18px;
    color: rgba(255, 255, 255, .85);
}

.tabela tfoot .td-num {
    text-align: left;
}

.tabela tfoot .td-num small {
    display: block;
    font-size: .7rem;
    color: rgba(255, 255, 255, .45);
    font-weight: 400;
}

.tabela tfoot .destaque strong {
    color: var(--orange);
    font-size: 1.05rem;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.fechar {
    float: right;
    cursor: pointer;
    font-size: 22px;
}

.modal input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--border);
}

.modal button {
    background: var(--orange);
    color: var(--bg);
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--border);
    cursor: pointer;
}

.modal button:hover {
    transition: var(--transition);
    background: var(--orange-hover);
    transform: scale(1.02);
}

#view_nome {
    margin-bottom: 10px;
}

#view_link_box a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #5252aa;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

#view_link_box a:hover {
    transition: var(--transition);
    transform: scale(1.02);
    background: var(--orange-hover);
}